[Unit]
Description=VerisureSix6 Backend
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=orangepi
WorkingDirectory=/home/orangepi/verisure/backend
Environment=PATH=/home/orangepi/verisure/backend/venv/bin
EnvironmentFile=/home/orangepi/verisure/backend/.env
ExecStart=/home/orangepi/verisure/backend/venv/bin/uvicorn backend.main:app --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
